.result-title {
  font-size: 1.1rem;
  font-weight: bold;

  i {
    font-size: 1.3rem;
  }
}

.result-subtitle {
  font-size: 0.9rem;
}

.tab-title {
  font-size: 1.0rem;

  i {
    font-size: 1.2rem;
  }
}

.question {
  font-size: 1.1rem;
  font-weight: bold;
}

.payment-month {
  font-size: 1.1rem;
  font-weight: bolder;
}

.detail-title {
  font-size: 1.0rem;
  font-weight: bolder;
}

.detail-content{
  font-size: 0.9rem;
}

nz-content {
  background-color: #ffffff;
}
